/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--main-text-color: #f1b2ce;
	--text-color: #000028;
	--title-color: #db00ff;
	--shadow-color: #ff0070;
	--menu-hover-cover: rgba(255, 0, 112, 0.4);
	--heading-bg-color: #ff0070;
	--accent-color: #ff0070;
	--bg-color: #000028;
	--bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .decoration-text {
	display: inline;
}
