/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--main-font: 'IBM Plex Mono';
	--main-text-color: #f1b2ce;
	--text-color: #000028;
	--title-color: #db00ff;
	--shadow-color: #ff0070;
	--menu-hover-cover: rgba(255, 0, 112, 0.4);
	--heading-bg-color: #ff0070;
	--accent-color: #ff0070;
	--bg-color: #000028;
	--bg-image: url('../images/cover-image-dark.png');
}
